* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-image: url("./images/wrinkled_paper.jpg");
    /* background-color: #0d0d0d; */
  }

.game-title, .pick-choices, .footer-items, .fa-github {
    color: #feac32;
    font-family: 'VT323', sans-serif;
}

.subtitle, .subtitle-caption, .scoreboard, .current-state {
    color: #fff;
    font-family: 'VT323', sans-serif;
}

#restart-btn {
    visibility: hidden;
    font-family: 'VT323', sans-serif;
    color: #fff;
    width: 15vh;
    height: 5vh;
    border-radius: 2vh;
    margin-top: 2vh;
    font-size: 4vh;
    background-color: transparent;
    border-color: #fff;
}

#restart-btn:hover {
    transform: scale(1.5);
    border-color: #fff;
}

/* Styles for the first-section - header + scoreboard */

.header-banner {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid white 0.1em;
}

.game-title {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 10vh;
}

.main {
    margin-top: 20px;
    text-align: center;
}

.subtitle {
    padding: 15px;
    font-size: 6vh;
}

.subtitle-caption {
    padding: 10px;
    font-size: 5vh;
}

.pick-choices {
    padding: 15px;
    font-size: 4vh;
}

/* Styles for the button (options) */

.buttons {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9em;
}

.square-button {
    border-radius: 4vh;
    width: 25vh;
    height: 25vh;
    background-color: #202020;
    border: solid white 0.5em;
}

.square-button:hover{
    background-color: #404040;
    transform: scale(1.1);
    box-shadow: 0 0 5px rgb(45, 50, 45);
}

.options {
    font-size: 14vh;
}

/* Styles for Scores */

.score-caption {
    display: flex;
    justify-content: center;
    margin: 4vh;
}

.current-state {
    font-size: 5vh;
    margin-top: 10px;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score-box {
    font-size: 6vh;
    margin: 1vh;
}

.fa-github {
    font-size: 4vh;
}

.fa-github:hover {
    transform: scale(1.4);
}
